*{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
  
body{
  background:#263238;
  overflow: auto;
}
.content{
  display: flex;
  flex-direction: column;
  color: darkgray;
  margin-top: 51px;
  line-height: 1.5;
}
input, select{
  background: darkgrey;
  border: none;
  border-radius: 6px;
  padding: 5px 0px;
  width: 180px;
  outline: none;
  padding-left: 6px;
}
select{
  cursor: pointer;
}
.footer{
  position: absolute;
  right: 20px;
}
.footer > p > a{
  color: #FFF;
}
.hidden{
  display: none !important;
}
.add_field{
  padding-left: 6px;
}
.plus_block{
  float: right;
}
.submit{
  width: 32px;
  padding: 7px 0;
  border-radius: 5px;
  background: darkgrey;
  outline: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.first_step{
  display: flex;
  margin-left: 50px;
  width: 550px;
  margin-bottom: 36px;
}
.first_step p{
  width: 250px;
}
.each_student a{
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}
.student_info{
  margin-left: 30%;
  margin-top: 10%;
}
.student_block{
  width: 550px;
}
.student_title{
  font-size: 25px;
  text-align: center;
  margin-bottom: 25px;
}
.comment textarea{
  width: 100%;
  height: 50px;
  background: darkgrey;
  border: none;
  border-radius: 6px;
  outline: none;
  padding: 5px 0px;
  padding-left: 5px;
}
.mblock{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.student_mark{
  width: 110px;
}
.start_link{
  text-decoration: none;
  font-size: 25px;
  color: antiquewhite;
  text-align: center;
  cursor: pointer;
  margin-top: 50px;
}
.left_panel{
  width: 550px;
  float: left;
}
.new_student{
  margin-left: 10px;
}
.new_student input{
  width: 170px;
}
.new_panel{
  display: flex;
}
#new_student_l_name, 
#new_student_f_name, 
#new_student_s_name, 
#new_student_group, 
#new_student_theme,
#new_student_leader{
  width: 48%;
  margin-bottom: 6px;
}
#new_student_comment{
  margin-bottom: 6px;
  width: 96.6%;
  text-align: center;
}
#new_stud_add{
  margin-bottom: 6px;
  width: 96.6%;
  padding: 7px 0;
  border-radius: 5px;
  background: darkgrey;
  outline: none;
  border: none;
  cursor: pointer;
}
.second_step{
  text-align: center;
}
hr{
  margin-bottom: 25;
}

#login{
  width: 300px;
  margin: 20% auto;
  color: aliceblue;
}
.login_btn{
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}
.line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}